.entrada{
	position: relative;
	margin: 0 auto;
	color: rgba(0,0,0,.7);
    padding-top: 75px;
    padding-bottom: 75px;

    hr{
		border-color: rgba(0,0,0,.1);
	}

	h1{
	    font-size: 1.6rem;
	    /* margin: .5rem 0; */
	    border-left: 5px solid $gris-oscuro;
	    color: $gris-oscuro;
	    padding: 2px 5px;
	    font-weight: 900;
	}

	ul{
		padding-left: 2rem; 
		list-style: disc;
		font-size: $fuente-normal; 
		li{
			margin-bottom: 5px; 
		}
	}

	p{
		margin: 15px 0; 
	}

	em{
		font-style: italic;
		font-size: $titulo-diminuto;
	}

	.volver{
		position: relative; 
		text-align: center; 
		margin: 60px; 
		a{
			display: inline-block;
			padding: 15px 25px;
			border: 1px solid rgba(0,0,0,.2);
			border-radius: 5px;
			color: rgba(0,0,0,.7);
		}
		a:hover{
			background: $naranja-primario; 
			border-color: $naranja-primario; 
			color: white; 
		}
	}

	.al-derecha{
	 	text-align: right;
 	    margin: 30px 0;
	}

	.btn-naranja{
		display: inline-block;
		padding: 15px 25px;
		border: 1px solid $naranja-primario;
		border-radius: 5px;
		color: white;
		background: $naranja-primario;
		i{
			margin-left: 20px;
		}
	}
	
	.btn-naranja:hover{
		background: transparent; 
		color: $naranja-primario;
	}

	.c_fecha{
	    font-style: italic;
	    font-size: $titulo-diminuto;
	    padding-left: 10px;
	}

	.c_galeria{
		color: initial;
	}
}

.tBlog ul li a, 
.tBlog p a, 
.tBlog p a:visited, 
.tBlog p a:link{color: inherit;border-bottom: 1px dashed rgba(0,0,0,.7);padding: 0 5px;}

.contenido .logo{text-align: center; margin-bottom: 25px; }
.contenido .logo img{}

.spin-icono{
    display: inline-block !important;
	@include animation(spin 1000ms infinite linear);
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(360deg); }
    to { -ms-transform: rotate(0deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(360deg); }
    to { -moz-transform: rotate(0deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(360deg); }
    to { -webkit-transform: rotate(0deg); }
}
@keyframes spin {
    from {
        transform:rotate(360deg);
    }
    to {
        transform:rotate(0deg);
    }
}

.contenido_modal{
    padding: 30px;
    text-align: center;
	p{
	    color: rgba(0,0,0,.7);
		strong{

		}
	}
	form#form-enteraste{
		input{
			position: relative;
		    display: block;
		    width: 85%;
		    margin: 25px auto;
		    border: 1px solid rgba(0,0,0,0.3);	
		    padding: 10px;
		    color: rgba(0,0,0,0.8);
		}
		input::-webkit-input-placeholder {
		  	color: rgba(0,0,0,.4);
		}
		input::-moz-placeholder {
		  	color: rgba(0,0,0,.4);
		}
		input:-ms-input-placeholder {
		  	color: rgba(0,0,0,.4);
		}
		input:-moz-placeholder {
		  	color: rgba(0,0,0,.4);
		}
		button{
		    display: inline-block;
		    padding: 10px 25px;
		    border: 1px solid $naranja-primario;
			color: $naranja-primario;
		    border-radius: 3px;
		    background: transparent;
		    cursor: pointer;
		}
		button:hover{
	    	background: $naranja-primario;
	    	color: #fff;
	    }
		button:hover, button:active, button:focus, input:hover, input:active, input:focus{
			outline: none;
			border-color: $naranja-primario;
		}
	}
}


/* Media queries
 * --------------------------------------- */
@media (max-width: 767px){
	.tBlog{padding: 0;}
}
