// _variables.scss
$fuente: 			'Roboto Condensed', sans-serif;
$naranja-primario: 	#f39830;
$naranja-seleccion: #d68736;
$naranja-secundario:#c27a31;
$blanco: 			#faf4f4;
$gris-claro:		#efefef;
$gris-medio:		#cacaca;
$gris-oscuro:		#666666;
$gris: 				#333;
$titulo-grande:		2rem;
$titulo-mediano:	1.5rem;
$titulo-chico:		1.1rem;
$titulo-diminuto:	.8rem;
$fuente-normal:		.9rem;